<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <p>Sandstone is under <a href="https://framagit.org/sandstone/sandstone/blob/master/LICENSE">MIT license</a>.</p>
                <br />

                <ul class="list-unstyled">
                    <li>
                        <i class="fa fa-gitlab fa-lg" aria-hidden="true"></i>
                        <a href="https://framagit.org/sandstone/sandstone">Sandstone</a>
                    </li>
                    <li>
                        <i class="fa fa-gitlab fa-lg" aria-hidden="true"></i>
                        <a href="https://framagit.org/sandstone/sandstone-edition">Sandstone edition</a>
                    </li>
                </ul>
                <br />

                <p>
                    Discussion channel about Sandstone:
                    <br />
                    <a href="https://framateam.org/sandstone">
                        <i class="fa fa-comments fa-lg" aria-hidden="true"></i>
                        Join Sandstone channel on Mattermost
                        <i class="fa fa-comments fa-lg" aria-hidden="true"></i>
                    </a>
                    <br />
                    <i class="text-muted">Ask for help, talk or give feedback about Sandstone.</i>
                </p>
                <br />

                <p>
                    Follow updates and news:
                    <br />
                    <a
                        href="https://twitter.com/sandstone_php"
                        class="twitter-follow-button"
                        data-size="large"
                        data-show-count="false"
                    >Follow @sandstone_php</a>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </p>
                <br />

                <p>
                    Find me here:
                    <br />
                    <a href="https://framagit.org/alcalyn">
                        <i class="fa fa-gitlab fa-lg" aria-hidden="true"></i>
                        alcalyn
                    </a>
                    -
                    <a href="https://github.com/alcalyn">
                        <i class="fa fa-github fa-lg" aria-hidden="true"></i>
                        alcalyn
                    </a>
                    -
                    <a href="https://framapiaf.org/@Alcalyn">
                        <i class="fa fa-mastodon fa-lg" aria-hidden="true"></i>
                        alcalyn_
                    </a>
                    -
                    <a href="https://twitter.com/alcalyn_">
                        <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
                        alcalyn_
                    </a>
                </p>
            </div>
            <div class="col-md-3 text-center">
                {% twitter https://twitter.com/sandstone_php maxwidth=400 limit=2 %}
            </div>
        </div>
    </div>
</footer>
