<nav class="nav-left">
    <h3>Sandstone</h3>

    <ul class="nav flex-column">
        <li class="nav-item {% include menu-active.html url='/get-started.html' %}">
            <a href="{{ site.baseurl }}/get-started.html" class="nav-link text-muted">
                <i class="fa fa-home" aria-hidden="true"></i>
                Get started
                <br>
                <span>Introduction + Basic usage</span>
            </a>
        </li>
        <li class="nav-item {% include menu-active.html url='/examples/full.html' %}">
            <a href="{{ site.baseurl }}/examples/full.html" class="nav-link text-muted">
                <i class="fa fa-code" aria-hidden="true"></i>
                Example: Full app
                <br>
                <span>RestApi + Websocket + Push</span>
            </a>
        </li>
        <li class="nav-item {% include menu-active.html url='/examples/multichannel-chat.html' %}">
            <a href="{{ site.baseurl }}/examples/multichannel-chat.html" class="nav-link text-muted">
                <i class="fa fa-code" aria-hidden="true"></i>
                Example: Chat server
                <br>
                <span>Websocket</span>
            </a>
        </li>
        <li class="nav-item {% include menu-active.html url='/authentication.html' %}">
            <a href="{{ site.baseurl }}/authentication.html" class="nav-link text-muted">
                <i class="fa fa-user" aria-hidden="true"></i>
                Authentication
                <br>
                <span>Rest API + websocket connections</span>
            </a>
        </li>
        <li class="nav-item {% include menu-active.html url='/topic-route-parameters.html' %}">
            <a href="{{ site.baseurl }}/topic-route-parameters.html" class="nav-link text-muted">
                <i class="fa fa-sitemap" aria-hidden="true"></i>
                Topic route parameters
                <br>
                <span>Retrieve topic route arguments</span>
            </a>
        </li>
        <li class="nav-item {% include menu-active.html url='/websocket-events.html' %}">
            <a href="{{ site.baseurl }}/websocket-events.html" class="nav-link text-muted">
                <i class="fa fa-wifi" aria-hidden="true"></i>
                Listen websocket events
                <br>
                <span>onOpen, onClose, onPublish...</span>
            </a>
        </li>
        <li class="nav-item {% include menu-active.html url='/push-debug-profiler.html' %}">
            <a href="{{ site.baseurl }}/push-debug-profiler.html" class="nav-link text-muted">
                <i class="fa fa-list-alt" aria-hidden="true"></i>
                Push debug profiler
                <br>
                <span>Enable that awesome debug tool !</span>
            </a>
        </li>
        <li class="nav-item {% include menu-active.html url='/big-picture.html' %}">
            <a href="{{ site.baseurl }}/big-picture.html" class="nav-link text-muted">
                <i class="fa fa-picture-o" aria-hidden="true"></i>
                Big picture
                <br>
                <span>Sandstone full schema</span>
            </a>
        </li>
        <li class="nav-item {% include menu-active.html url='/under-the-hood.html' %}">
            <a href="{{ site.baseurl }}/under-the-hood.html" class="nav-link text-muted">
                <i class="fa fa-cogs" aria-hidden="true"></i>
                Under the hood
                <br>
                <span>Used libraries</span>
            </a>
        </li>
        <li class="nav-item {% include menu-active.html url='/install-zmq-php-linux.html' %}">
            <a href="{{ site.baseurl }}/install-zmq-php-linux.html" class="nav-link text-muted">
                <i class="fa fa-archive" aria-hidden="true"></i>
                ZMQ Linux installation
                <br>
                <span>and php binding</span>
            </a>
        </li>
    </ul>

    <h3>Sandstone Edition</h3>


    <ul class="nav flex-column">
        <li class="nav-item {% include menu-active.html url='/edition/get-started.html' %}">
            <a href="{{ site.baseurl }}/edition/get-started.html" class="nav-link text-muted">
                <i class="fa fa-home" aria-hidden="true"></i>
                Get started
                <br>
                <span>Introduction + Installation</span>
            </a>
        </li>
        <li class="nav-item {% include menu-active.html url='/edition/cookbook.html' %}">
            <a href="{{ site.baseurl }}/edition/cookbook.html" class="nav-link text-muted">
                <i class="fa fa-home" aria-hidden="true"></i>
                Cookbook
                <br>
                <span>Usage + API + Real time</span>
            </a>
        </li>
    </ul>

    <br />
    <br /><!-- Yes, and... ?! I'm using two <br> to add some padding at the bottom, and that's it. End of story. -->
</nav>
